<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 text-left">
                <h5>once upon a mountain...</h5>
                <h2>…THERE WERE MEADOWS THAT WORKED LIKE MAGIC.</h2>
                <p>Meadows in the Mountains is an annual transformational festival, a celebration fostering a deep love of community and a connection back to nature. Life-changing experiences unfold against the backdrop of eco-friendly principles, inspiring a collective commitment to sustainable living. More than just a cultural platform, it's a global family united by shared values, driving positive change for a future-proof, regenerative culture.</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="img/about.png" style="display:flex;flex-wrap: nowrap;width: 100%">
            </div>
        </div>
    </div>
</section>
