<header id="home">
    <div class="header-content">
        <div class="hero-image-container">
        </div>
        <div id="tickets" class="header-content-inner">
            <br>
            <h1>Meadows in the Mountains</h1>
            <p>Meadows in the Mountains has seen its fair share of ups and downs, almost leaving us high and dry in the last year. But with a new partner on board and your support, we’re more determined than ever to make the 2025 edition a reality. The winding path to another mountain-top celebration starts here, with you.</p>
            <h3>Early Birds are up!</h3>
            <btn>
                <a href="https://get-in.com/en/354462" target="_blank" class="btn btn-primary page-scroll" style="box-shadow:unset">get tickets</a>
            </btn>
            <h3>Peak experiences</h3>
            <p>In our 10+ years, countless memories have been made — some involving sunsets, others involving our iconic reusable mugs and questionable dance moves. Along the way, Meadows in the Mountains won a special place in the hearts of many: from travellers and revellers to local villagers and world-renowned artists.</p>
            <h3>Rock bottom</h3>
            <p>But it’s not all sunshine and singalongs. In the wake of the already catastrophic pandemic, we faced a series of unforeseen financial setbacks. The most recent one was last year’s revoked permit by the government while the costly production of the 2024 festival was already in full swing. Financially, our beloved mountain festival almost reached rock bottom.</p>
            <h3>Rising above</h3>
            <p>We were lucky to find a community partner who knows a thing or two about pulling off festivals in remote locations like ours. Now we are confident and fully committed to making the 2025 edition happen. But we will need your help already at this early stage. That’s why we’re releasing early bird tickets now, with the tickets for the postponed 2024 remaining valid.</p>
            <h3>How can you join us?</h3>
            <p>If you haven’t got a ticket yet, we are calling on you to show your support by reserving an early bird ticket. We’re selling these at a minimum of €175, but if you feel like giving a bit more to keep the spirit of Meadows in the Mountains alive, we’d be forever grateful. Rest assured, we’ll hold onto every penny from this ticket release so that we can reimburse you if disaster strikes again, but… we are more committed than ever to make Meadows happen  and more epic than ever. And we hope you are with us on this one!</p>
            <btn>
                <a href="https://get-in.com/en/354462" target="_blank" class="btn btn-primary page-scroll" style="box-shadow:unset">get tickets</a>
            </btn>
        </div>
    </div>
</header>
