<section class="bg-dark" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="word-wrap: break-word;">
                <div class="col-sm-6 col-sm-offset-1">
                    <img src="img/apu-roadmap.svg" style="display:flex;flex-wrap: nowrap;width: 100%;">
                </div>
                <div class="col-lg-3 text-left">
                    <h3>Phase One</h3>
                    <ul>
                        <ol><i class="fa fa-check-circle" aria-hidden="true"></i>  Launch</ol>
                        <ol><i class="fa fa-check-circle" aria-hidden="true"></i>  Community Takeover</ol>
                        <ol><i class="fa fa-check-circle" aria-hidden="true"></i>  New website and socials</ol>
                        <ol><i class="fa fa-check-circle" aria-hidden="true"></i>  Implement number go up technology</ol>
                    </ul>
                </div>
                <div class="col-lg-3 text-left">
                    <h3>Phase Two</h3>
                    <ul>
                        <ol><i class="fa fa-spinner" aria-hidden="true"></i> NFT Collection</ol>
                        <ol><i class="fa fa-spinner" aria-hidden="true"></i> Unite all frens</ol>
                        <ol><i class="fa fa-spinner" aria-hidden="true"></i> Make memes</ol>
                        <ol><i class="fa fa-spinner" aria-hidden="true"></i> Enjoy life</ol>
                    </ul>
                </div>
                <div class="col-lg-3 text-left">
                    <h3>Phase Three</h3>
                    <ul>
                        <ol><i class="fa fa-spinner" aria-hidden="true"></i> Top Solana memecoin</ol>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
