<div id="block-x4rggn" class="block custom-block">

    <div class="block-content">
      <style>
    #block-x4rggn .img-wrapper {
    
      background-image: url('https://d17t27i218htgr.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWt6TmpSall6ZzROUzA0T1RNekxUUmlPRFF0T0RWallpMHdabVpsWTJReU1tWmpOMlVHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImJsb2JfaWQifX0=--318723358e59a62036dac46f90e986948eafa36b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVFLQUJ6QTZDbk5oZG1WeWV3YzZDbk4wY21sd1ZEb01jWFZoYkdsMGVXbGEiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--553a6420a9b90c57cc01c83bedb76500dd9046f4/juggler.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    
  }
  </style>
  <section class="content-wrap content-1" id="announcement">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5">
          <h5>once upon a mountain...</h5>
          <h2>…THERE WERE MEADOWS THAT WORKED LIKE MAGIC.</h2>
          <p class="paragraph"></p><p><span style="color: rgb(255, 255, 255);">Meadows in the Mountains is an annual transformational festival, a celebration fostering a deep love of community and a connection back to nature. Life-changing experiences unfold against the backdrop of eco-friendly principles, inspiring a collective commitment to sustainable living. More than just a cultural platform, it's a global family united by shared values, driving positive change for a future-proof, regenerative culture.&nbsp;</span></p><p></p>
        </div>
        <div class="col-lg-5 pt-5">
          <div class="img-style-circle-2">
            <div class="img-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
    </div>
  </div>