<section class="bg-primary" id="tokenomics">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="img/apunomics.png" style="display:flex; flex-wrap: nowrap; width: 100%">
            </div>
            <div class="col-md-8 text-center">
                <h2 class="pt-1" style="word-wrap:break-word">tokenomics</h2>
                <hr class="light">
                <h3>token supply:</h3>
                <h1 style="font-size:35px;word-wrap:break-word;">1,000,000,000</h1>
                <h3>LP burnt</h4>
                <h3>ownership renounced</h4>
                <h3>0% tax</h4>
            </div>
        </div>
    </div>
</section>
